<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.youngzeu.mplus.dao.ConvertEntityMapper" >
  <resultMap id="BaseResultMap" type="com.youngzeu.mplus.entity.convert.ConvertEntity" >
    <constructor >
      <idArg column="TYPE_ID" jdbcType="VARCHAR" javaType="java.lang.String" />
      <idArg column="DATA_ID" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="DATA_VALUE" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="DATA_NAME" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="SPARE_STR1" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="SPARE_STR2" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="INSERT_USER" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="UPDATE_USER" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="INSERT_TIME" jdbcType="TIMESTAMP" javaType="java.time.LocalDateTime" />
      <arg column="UPDATE_TIME" jdbcType="TIMESTAMP" javaType="java.time.LocalDateTime" />
    </constructor>
  </resultMap>
  <sql id="Base_Column_List" >
    TYPE_ID, DATA_ID, DATA_VALUE, DATA_NAME, SPARE_STR1, SPARE_STR2, INSERT_USER, UPDATE_USER, 
    INSERT_TIME, UPDATE_TIME
  </sql>
</mapper>