<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.youngzeu.mplus.dao.RoleEntityMapper">
  <resultMap id="BaseResultMap" type="com.youngzeu.mplus.entity.RoleEntity">
    <constructor>
      <idArg column="ID" javaType="java.lang.Long" jdbcType="BIGINT" />
      <arg column="ROLE_ID" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="ROLE_NAME" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="PARENT_ROLE_ID" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="ORDER_NO" javaType="java.lang.Integer" jdbcType="INTEGER" />
      <arg column="IS_DELETE" javaType="java.lang.String" jdbcType="CHAR" />
      <arg column="INSERT_USER" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="INSERT_TIME" javaType="java.time.LocalDateTime" jdbcType="TIMESTAMP" />
      <arg column="UPDATE_USER" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="UPDATE_TIME" javaType="java.time.LocalDateTime" jdbcType="TIMESTAMP" />
      <arg column="SPARE_STR1" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="SPARE_STR2" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="SPARE_STR3" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="SPARE_DATE1" javaType="java.time.LocalDateTime" jdbcType="TIMESTAMP" />
      <arg column="SPARE_TAG1" javaType="java.lang.String" jdbcType="CHAR" />
    </constructor>
  </resultMap>
  <sql id="Base_Column_List">
    ID, ROLE_ID, ROLE_NAME, PARENT_ROLE_ID, ORDER_NO, IS_DELETE, INSERT_USER, INSERT_TIME, 
    UPDATE_USER, UPDATE_TIME, SPARE_STR1, SPARE_STR2, SPARE_STR3, SPARE_DATE1, SPARE_TAG1
  </sql>
</mapper>